* {
  box-sizing: border-box;
}


html{
  cursor: help;
}

img{
    max-width: 100%;
}

body{
  background-image: url(assets/space-bg.jpg);
  background-size: 600px;
  background-attachment: fixed;

  margin: 0;

  width: 400vw;
  height: 400vh;

  position: relative;
}

p{
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  color: aliceblue;
}