* {
  box-sizing: border-box;
}


html{
  cursor: help;
}

img{
    max-width: 100%;

}

body{
  background-image: url(assets/space-bg.jpg);
  background-size: 600px;
  background-attachment: fixed;

  margin: 0;
}

/* .viewport{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.ocean{
  position: relative;

  width: 2500px;
  height: 1800px;
} */