body {
    background-image: url(assets-homepage/sea-bg\ Large.jpeg);
    background-size: cover;
    margin: 40px;
}

h1 {
   font-family: monospace;
   font-weight:bolder;
   size: 300px;

   color: lightblue;

   text-align:justify ; 
}

h3{
   font-family: monospace;
   font-weight:700;
   size: 300px;

    color:chartreuse;

   text-align:justify ; 
}

p{
   font-family: monospace;

    color:rgb(179, 231, 128);

    text-align:justify ; 

    padding: 10px;

}

ul{
   font-family: monospace;
    font-weight: 400;

   color: rgb(155, 211, 230);

     text-align:justify ; 

}

ul {
  /* Remove the default bullet points entirely */
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

ul li {
  background-image: url(assets-homepage/fish\ point.png);
  background-repeat: no-repeat;
  
  background-position: 0px center; 
  
  background-size: 40px 40px; 
  
  padding-left: 50px; 
  padding-top: 5px;
  padding-bottom: 5px;
}

a:link{
    color:rgb(37, 49, 67);
}

a:visited{
    color: rgb(111, 163, 241);
}

a:hover{
    color:chartreuse;
}

.coral{
position: absolute;
right: 0px;
bottom: 0px;
}

.coralR{
position: absolute;
left: 0px;
bottom: 0px;
}