
body {
    background-image: url(assetsPHM/PHM\ space.jpg);
    background-size: contain;
    margin: 40px;
  
}

ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

ul li {
  background-image: url(assetsPHM/PHM\ logo.png);
  background-repeat: no-repeat;
  
  background-position: 0px center; 
  
  background-size: 100px; 
  
  padding: 30px;
  padding-left: 110px;

  font-family: monospace;
  font-weight:bolder;
  size: 300px;

  font-size: 30px;

  color: rgb(255, 255, 255);
}

h1 {
  font-family: monospace;
  font-weight:bolder;
  size: 300px;

  color: rgb(255, 255, 255);

  text-align:justify ; 
}

h2{
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;

  color: rgb(255, 255, 255);
  
}

h3{
  font-family: monospace;
  font-weight:lighter;
  font-style: italic;
  font-size: 20px;

  color: rgb(243, 221, 110);
}

p{
   font-family: monospace;

    color:rgb(231, 250, 211);

    text-align:justify; 

    font-size: 16px;
}

details{
  font-family: monospace;

    color:rgb(149, 182, 254);

    text-align:justify; 

    font-size: 16px;
}

a:link{
    color:floralwhite;
}

a:visited{
    color:floralwhite;
}

a:hover{
    color:crimson;
}



.highlight{
  color:cornflowerblue;
}

.plates{
  mix-blend-mode: difference;
}

.astrophage{
  display: inline-block;
  padding: 10 px;
}

.PL{
  display: inline-block;
  padding: 10 px;
}

.crew{
 display:block;
  padding: 10 px; 
}