body {
    background-image: url(assetsPHM/PHM\ space.jpg);
  background-size: contain;
    margin: 40px;

    
}

h1 {
   font-family: monospace;
   font-weight:bolder;
   size: 300px;

   color: rgb(255, 255, 255);

   text-align:justify ; 
}

p{
   font-family: monospace;

    color:rgb(231, 250, 211);

    text-align:justify ; 

}